[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CFAcoop"]
	path = CFAcoop
	url = https://github.com/zytohmgu/cfacoop
[submodule "LDAcoop"]
	path = LDAcoop
	url = https://github.com/zytohmgu/ldacoop
